<section id="contactus">
    <h1>
        CONTACT US
    </h1>
    <h2>
        & let us help you
    </h2>
    <div class="row">
        <div class="col-4">
            <div>
                <div class="iconimage"><i class="fa fa-gear"></i></div><br><br>
                <h3>Support</h3><br>
                <h4>Just let us know if you have any questions regarding our services</h4>
            </div>
        </div>
        <div class="col-4">
            <div>
                <div class="iconimage"><i class="fa fa-print"></i></div><br><br>
                <h3>Printing & Lettering</h3><br>
                <h4>We can tell you all about our technques and other specifics</h4>
            </div>
        </div>
        <div class="col-4">
            <div>
                <div class="iconimage"><i class="fas fa-bullhorn"></i></div><br><br>
                <h3>Media & Marketing</h3><br>
                <h4>Just let us know if you have any questions regarding our services</h4>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; padding: 100px 0px 100px 0px;">
        <a href="skill-reach/contact"><input type="button" class="button" value="Get in Touch!"></a>
    </div>
</section>


