
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<header class="topbar">
  <div class="topnav sticky" id="myTopnav">
    <img src="../../../../assets/images/logo.jpeg" alt="homepage"/>
    <input type="text" name="search" placeholder="Search Here">
    <a href="skill-reach/contact">Contact Us</a>
    <a href="skill-reach/team">Team</a>
    <a href="skill-reach/categories">Categories</a>
    <a href="skill-reach/#services">Services</a>
    <a href="skill-reach/#home" class="active">Home</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</header>


<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

