#contactus{
    padding-top: 100px;
}
div{
    align-items: center;
}
i{
    font-size: 25px;
    color: rgb(82, 147, 255);
}
h3{
    color: #888;
    font-weight: 350;
}
h1{
    font-weight: 700;
    font-size: 4rem;
}