<main class="app-content">
        <div class="app-title">
            <div style="float: right;">
                <i class="fa fa-home fa-lg"></i><a href="#dashboard"> / Dashboard</a>
            </div>
          <div>
              <h1><i class="fa fa-dashboard"></i> Dashboard </h1>
          </div>
        </div>
        
        <div class="">
          <div class="col-md-12 col-lg-12">
            <div class="row"><i class="icon fa fa-users fa-3x"></i>
              <div class="info">
                <h4>Member</h4>
                <p><b>1204</b></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-12">
            <div class="row"><i class="icon fa fa-shopping-basket fa-3x"></i>
              <div class="info">
                <h4>Table</h4>
                <p><b>9</b></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-12">
            <div class="row"><i class="icon fa fa-files-o fa-3x"></i>
              <div class="info">
                <h4>User</h4>
                <p><b>9</b></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-12">
            <div class="row"><i class="icon fa fa-star fa-3x"></i>
              <div class="info">
                <h4>Guest</h4>
                <p><b>50</b></p>
              </div>
            </div>
          </div>
        </div>
      </main> 