<section>
    <div class="row">
        <div class="col-sm-4">
            <hr>
        </div>
        <div class="col-sm-4">
            <br><h1> SKILL</h1><h2>REACH </h2><br>
        </div>
        <div class="col-sm-4">
            <hr>
        </div>
        <div class="col-sm-4">
            <h3>PRIVACY POLICY</h3><br>
            <h3>TERMS & CONDITIONS</h3><br>
            <h3>ABOUT</h3><br>
        </div>
        <div class="col-sm-4">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-pinterest"></i>
            <i class="fab fa-instagram"></i>
            <div class="vl"></div><br><br>
        </div>
        <div class="col-sm-4">
            <h3>SHIPPING INFO</h3><br>
            <h3>RETURNS / EXCHANGES</h3><br>
            <h3>CONTACT</h3><br>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2>WEEKLY NEWSLETTER</h2><br><br>
            <input type="email" name="EMAIL" placeholder="NAME@EMAIL.COM"><br>
            <button title="Subscribe">
                <span>SUBSCRIBE</span>
            </button><br><br><br>
            <p class="c-copyright">© 2019</p>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section>

