<app-topbar></app-topbar>

<section id="coursepage">
    <h1>COURSES</h1>
    <h2>Our professional courses will be happy to bring<br>amazing ideas and projects to life</h2><br><br><br>
    <div class="row">
        <div class="col-sm-6" style="padding: 30px; height: 360px;">
            <div class="course-item row">
                <div class="col-sm-6 cardimage">
                    <a href="skill-reach/videos">
                    <img src="../../../../assets/images/download (1).jpg" alt=""></a>
                </div>
                <div class="col-sm-6 cardtext">
                    <h3>Course Name</h3><br>
                    <h5>Tutor Name</h5><br>
                    <h6>Highly experienced professional that is going to make amazing things for you</h6><br>
                    <h6>No of Chapters</h6><br>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="padding: 30px; height: 360px;">
            <div class="course-item row">
                <div class="col-sm-6 cardimage">
                    <img src="../../../../assets/images/download (1).jpg" alt="">
                </div>
                <div class="col-sm-6 cardtext">
                    <h3>Course Name</h3><br>
                    <h5>Tutor Name</h5><br>
                    <h6>Highly experienced professional that is going to make amazing things for you</h6><br>
                    <h6>No of Chapters</h6><br>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="padding: 30px; height: 360px;">
            <div class="course-item row">
                <div class="col-sm-6 cardimage">
                    <img src="../../../../assets/images/download (1).jpg" alt="">
                </div>
                <div class="col-sm-6 cardtext">
                    <h3>Course Name</h3><br>
                    <h5>Tutor Name</h5><br>
                    <h6>Highly experienced professional that is going to make amazing things for you</h6><br>
                    <h6>No of Chapters</h6><br>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="padding: 30px; height: 360px;">
            <div class="course-item row">
                <div class="col-sm-6 cardimage">
                    <img src="../../../../assets/images/download (1).jpg" alt="">
                </div>
                <div class="col-sm-6 cardtext">
                    <h3>Course Name</h3><br>
                    <h5>Tutor Name</h5><br>
                    <h6>Highly experienced professional that is going to make amazing things for you</h6><br>
                    <h6>No of Chapters</h6><br>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="padding: 30px; height: 360px;">
            <div class="course-item row">
                <div class="col-sm-6 cardimage">
                    <img src="../../../../assets/images/download (1).jpg" alt="">
                </div>
                <div class="col-sm-6 cardtext">
                    <h3>Course Name</h3><br>
                    <h5>Tutor Name</h5><br>
                    <h6>Highly experienced professional that is going to make amazing things for you</h6><br>
                    <h6>No of Chapters</h6><br>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="padding: 30px; height: 360px;">
            <div class="course-item row">
                <div class="col-sm-6 cardimage">
                    <img src="../../../../assets/images/download (1).jpg" alt="">
                </div>
                <div class="col-sm-6 cardtext">
                    <h3>Course Name</h3><br>
                    <h5>Tutor Name</h5><br>
                    <h6>Highly experienced professional that is going to make amazing things for you</h6><br>
                    <h6>No of Chapters</h6><br>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="padding: 30px; height: 360px;">
            <div class="course-item row">
                <div class="col-sm-6 cardimage">
                    <img src="../../../../assets/images/download (1).jpg" alt="">
                </div>
                <div class="col-sm-6 cardtext">
                    <h3>Course Name</h3><br>
                    <h5>Tutor Name</h5><br>
                    <h6>Highly experienced professional that is going to make amazing things for you</h6><br>
                    <h6>No of Chapters</h6><br>
                </div>
            </div>
        </div>
    </div>
</section>

<footer></footer>